

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
    /* border: 1px solid black; */
}
body {
    font-family: 'Yusei Magic', sans-serif;
}
html {
  font-size: 16px;
  }
h1 {
  margin-bottom: 50px;
  }
h2 {
  color: black;
  padding-top: 25px;
  font-size: 2em;
}
a {
  color: black;
}

header {
  /* set header background */
  /* background: yellow; */
}

ul li {
  border-bottom: 3px solid black;
}

li a:hover {
  background: grey;
  color: white;
}

#header-nav {
  background: rgb(210, 105, 30);
  border-bottom: 3px solid black;
}
.navbar-brand {
  padding-top: 35px;
}
a > h1 {
  font-size: 2em;
}
#header-nav button.navbar-toggler {
  border: 2px solid black;
}
#header-nav button.navbar-toggler:hover {
  background: white;
}
.nav-item {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
.logo {
        background: #556B2F;
        color: white;
        padding: 2%;
        margin-top: 40px;
        margin-bottom: 20px;
      }
/* Media queries */
@media (max-width: 576px) {
  /* Keep content contained within the viewport */
  .container {
    width: 90%;
  }
}
